/*
 * jQuery FlexSlider v2.6.3
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *
 */

/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover,
.flex-slider a:hover {
  outline: none;
}
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flex-pauseplay span {
  text-transform: capitalize;
}
/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
  margin: 0;
  padding: 0;
}
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
.flexslider .slides img {
  width: 100%;
  display: block;
}
.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .flexslider .slides {
  display: block;
}
* html .flexslider .slides {
  height: 1%;
}
.no-js .flexslider .slides > li:first-child {
  display: block;
}
/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.flexslider {
	margin: 0;
	position: relative;
	zoom: 1;
	overflow: hidden;
	z-index:0;
}
.flexslider .caption-description{
	position: absolute;
    bottom: 100px;
    left: 100px;
    color: #FFFFFF;
	max-width: 600px;
    font-size: 18px;
    line-height: 28px;
}
.flexslider .caption-description h2{ font-size: 30px; margin-bottom:25px; letter-spacing: 9px;}
.flexslider .slides {
  zoom: 1;
}
.flexslider .slides img {
  height: auto;
  -moz-user-select: none;
}
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.loading .flex-viewport {
  max-height: 300px;
}
.carousel li {
  margin-right: 5px;
}
.flex-direction-nav {
  *height: 0;
}
.flex-direction-nav a {
	text-decoration: none;
	display: block;
	margin: -35px 0 0;
	position: absolute;
	top: 50%;
	z-index: 10;
	overflow: hidden;
	opacity: 1;
	cursor: pointer;
	color: #000;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	font-size: 0px;
	line-height: 1;
	text-align:center;
}
.flex-direction-nav a:hover{
color:#788954;
}
.flex-direction-nav a:before {
  font-family: "Material Icons";
  font-size: 70px;
  display: inline-block;
  content: '\E5CB';
 
}
.flex-direction-nav a:hover:before{
color:#788954;
}
.flex-direction-nav a.flex-next:before {
  content: '\E5CC';
}
.flex-direction-nav .flex-prev {
	left: -64px;
}
.flex-direction-nav .flex-next {
	right: -64px;
}
.flexslider:hover .flex-direction-nav .flex-prev {
	left: 30px;
}
.flexslider:hover .flex-direction-nav .flex-next {
	right: 30px;
}
.flexslider .flex-direction-nav a:hover:before {
}
.flex-direction-nav .flex-disabled {
	opacity: 0!important;
	filter: alpha(opacity=0);
	cursor: default;
	z-index: -1;
}
.flex-pauseplay a {
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	bottom: 5px;
	left: 10px;
	opacity: 0.8;
	z-index: 10;
	overflow: hidden;
	cursor: pointer;
	color: #000;
}
.flex-pauseplay a:before {
  font-family: "Material Icons";
  font-size: 20px;
  display: inline-block;
  content: '\E039';
}
.flex-pauseplay a:hover {
  opacity: 1;
}
.flex-pauseplay a.flex-play:before {
  content: '\E036';
}
.flex-control-nav {
	width: 100%;
	position: absolute;
	margin: 0;
	display: none;
	bottom: 5px;
	text-align: center;
	z-index: 9;
}
.flex-control-nav li {
	margin: 0 3px;
	display: inline-block;
	zoom: 1;
	*display: inline;
}
.flex-control-paging li a {
	width: 13px;
	height: 13px;
	display: block;
	background: transparent;
	cursor: pointer;
	text-indent: -9999px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 0;
	background:#000;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.flex-control-paging li a:hover,
.flex-control-paging li a.flex-active {
	background: #788954  ;
	border-color: #788954  ;
	transform: rotate(-45deg);
}
.flex-control-paging li a.flex-active {
	cursor: default;
}
.flex-control-thumbs {
	margin: 5px 0 0;
	position: static;
	overflow: hidden;
}
.flex-control-thumbs li {
	width: 25%;
	float: left;
	margin: 0;
}
.flex-control-thumbs img {
	width: 100%;
	height: auto;
	display: block;
	opacity: .7;
	cursor: pointer;
	-moz-user-select: none;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.flex-control-thumbs img:hover {
  opacity: 1;
}
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}
/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 991px) {
	.flex-direction-nav .flex-prev {
		opacity: 1;
		left: -60px;
	}
	.flex-direction-nav .flex-next {
		opacity: 1;
		right: -60px;
	}
	.flexslider:hover .flex-direction-nav .flex-prev{left:-20px;}
	.flexslider:hover .flex-direction-nav .flex-next{right:-20px;}
}
@media (min-width: 992px) {
	.flexslider{
		width:72%;
		}
}
@media (min-width: 768px) {
	.flexslider{
		width:72%;
		}
}
@media (min-width: 480px) {
	.flexslider:hover .flex-control-nav {
		display: block;
	}
	.flexslider{
		width:100%;
		}
}
@media (max-width: 767px) {
	 .flex-direction-nav .flex-prev,.flexslider:hover .flex-direction-nav .flex-prev{left:-10px;}
	 .flex-direction-nav .flex-next,.flexslider:hover .flex-direction-nav .flex-next{right:-10px;}
}
@media (max-width: 479px) {
	.flexslider{
		width:100%;
		}
}
