/* category */
/* blog listing */
.blog-meta {
  line-height: 22px;
  display: inline-block;
}
.lastest_block {
margin: 0 auto 60px;
text-align: center;
float: left;
width: 100%;
}
.blog-meta > span {
  margin-right: 10px;
  position: relative;
}
.blog-meta > span:last-child:before {
  display: none;
}
.homeblog-inner .blog-meta > span {
  margin-right: 0;
 }
 #module-psblog-category .leading-blog .more:hover{color: #000 !important;}
.secondary-blog .blog-item {
    float: left;
}
.secondary-blog .blog-image{margin-bottom: 15px;}
.blog-item .blog-content-wrap .title {margin:0;min-height: 42px;}
.lastest_block img {
    position: relative;
height: auto;
max-width: none;
width: -webkit-calc(100% + 60px);
width: -moz-calc(100% + 60px);
width: -ms-calc(100% + 60px);
width: -o-calc(100% + 60px);
width: calc(100% + 60px);
-webkit-transition: all 0.5s ease;
-webkit-transition-delay: 0s;
-moz-transition: all 0.5s ease 0s;
-ms-transition: all 0.5s ease 0s;
-o-transition: all 0.5s ease 0s;
transition: all 0.5s ease 0s;
-webkit-transform: translate3d(-50px,0,0);
-moz-transform: translate3d(-50px,0,0);
-ms-transform: translate3d(-50px,0,0);
-o-transform: translate3d(-50px,0,0);
transform: translate3d(-50px,0,0);
}
.lastest_block .blog-post:hover img {
  
transform: translate3d(0,0,0);
-webkit-transform: translate3d(0,0,0);
-moz-transform: translate3d(0,0,0);
-ms-transform: translate3d(0,0,0);
-o-transform: translate3d(0,0,0);
transform: translate3d(0,0,0);
	-webkit-transition: all 0.5s ease;
-webkit-transition-delay: 0s;
-moz-transition: all 0.5s ease 0s;
-ms-transition: all 0.5s ease 0s;
-o-transition: all 0.5s ease 0s;
transition: all 0.5s ease 0s;
}
.lastest_block .blog-post:hover{
}
.homeblog-inner{
	position: relative;
	float: left;
	width: 100%;
	margin: 8px auto 0;
}
#module-psblog-category .blog-item .blog-content-wrap .blog-shortinfo{font-size:13px;}
.lastest_block .homeblog-inner li.blog-post {
	float: left;
 	padding: 11px;
	transition: all 0.9s ease 0s;
      -webkit-transition: all 0.9s ease 0s;
    -moz-transition: all 0.9s ease 0s;
    -ms-transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;
}
.blog-post:hover .blog-item .readmore .btn {
    color: #788954;
	border-bottom: 1px solid #788954 !important;
	background: no-repeat;
	border: none;
	border-radius: 0;
}
.blog-item .blog-content-wrap .title a:hover {
    color: #788954 ;
}
.blog-post .blog-item .readmore .btn{border-bottom: 1px solid transparent;}
.blog-post .blog-item .readmore .btn:hover {
   border-bottom-color: #122f3f !important;
	color: #122f3f;
}
.lastest_block .homeblog-inner li.blog-post:hover .blog-meta {color: #000;
}
.tmblog-latest .homeblog-inner .blog-item .blog-meta {display: none !important;
}
#module-psblog-category .leading-blog .more {
    color: #788954;
}
.homeblog-inner li .blog-item { margin-bottom: 0px; padding:0;}
.blog-item {
  position: relative;
  margin-bottom: 30px;
  margin-top: 0;
  font-size: 13px;
  /*
  border: 5px solid #dde6e6;
  border-radius: 10px;
  */
}
.leading-blog .blog-item .blog-content-wrap {
  padding: 0 15px;
}


.blog-image .more a{
	color: #fff;
}
 .blog-image .more:hover{
	color: #fff;
	background:#0088CC;
	border-color: #0088CC;
}

.blog-image .more {
    background: #000;
	transform: rotate(40deg);
    border: 1px solid #000;
    bottom: 10px;
    color: #ffffff;
    height: 38px;
    line-height: 34px;
    position: absolute;
    border-radius: 50%;
    text-align: center;
    width: 38px;
    z-index: 99;
	left: 10px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s ease 0s;
}
#module-psblog-category .blog-item .blog-content-wrap .title{text-align:left;text-align: left;
min-height: auto;
margin-bottom: 10px;}
#module-psblog-category .blog-item .blog-content-wrap .title a{font-size:17px;}
#module-psblog-category .blog-meta{
	border-bottom:1px solid #ececec;
	padding-bottom: 10px;
}
.blog-item .blog-content-wrap .title a{
	font-weight: normal;
	font-size: 15px;
	letter-spacing: 0.04em;
	line-height: 20px;
	color: #2a2a2a;
	text-transform: lowercase;
	font-family: 'Sintony', sans-serif;
}
.blog-post:hover .blog-content-wrap .title a{color:#788954 ;}
.blog-hit {
    float: left;
}

.blog-meta-block {
	float: left;
	text-align: left;
	padding: 30px 0 35px;
	border-bottom: 1px solid #e6e6e6;
	width: 100%;
}
.lastest_block .homeblog-inner li.blog-post:hover .blog-meta-block{border-color:#788954;}
.tmblog-latest .blog-item .blog-meta,
.secondary-blog .blog-item .blog-meta{
	text-transform: capitalize;
	position: relative;
	width: 100%;
	display: block;
}
.blog-item .readmore{
	display:none;margin-top: 5px;
}
.blog-item .readmore .btn{
	padding:0;
	color: #788954;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.05em;
	text-transform: capitalize;
}

.blog-item .blog-content-wrap .readmore p {
  margin-bottom: 0;
  margin-top: 10px;
}
.lastest_block .blog-content-wrap {float:left;
}
.blog-item .blog-content-wrap .readmore p .btn {
  border: 1px solid #e5e5e5;
  text-transform: capitalize;
  font-size: 10px;
}
.secondary-blog .blog-item .blog-meta {
    margin: 0 0 10px;display: inline-block;text-transform: capitalize;
}

.blog-item .blog-content-wrap .readmore p .btn:hover {
  border-color: #2fb5d2;
}
.blog-item .blog-content-wrap .blog-shortinfo {
 	font-size: 12px;
	line-height: 20px;
	letter-spacing: 0;
	font-weight: normal;
	color: #898989;
	margin-top: 17px;
	float:left;
}
.lastest_block .blog-author {
    float: left;
	margin-right: 5px;
}
.lastest_block .blog-author a:hover{color: #788954;}
.lastest_block .blog-author a, .lastest_block .blog-author, .lastest_block .blog-hit {
    color: #454545;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.04em;
}
.lastest_block .blog-author i {
    font-size: 20px;
    line-height: 18px;
}
.lastest_block .blog-hit i {
    font-size: 15px;
    line-height: 14px;
}
.blog-item .blog-content-wrap .blog-shortinfo .more {
  height: 0;
  padding: 0;
  border:none;
  color:#000;
}
.blog-item .blog-content-wrap .blog-shortinfo .more i {
  color: #888;
}
.blog-item .blog-content-wrap .blog-shortinfo .more i:hover {
  color: #222;
}
.lastest_block .blog-item .blog-image{
}
.blog-item .blog-image {
 	overflow: hidden;
	position: relative;
	z-index: 9;
}
#blog-carousel {
    margin: 0;
}
#index .lastest_block .products{margin: 0 -11px;float:none;width:auto;}
#blog-localengine {
border: 1px solid #ececec;
padding: 20px;
}
#blog-localengine .ps_sortPagiBar.clearfix.bottom-line {
    margin-bottom: 30px;
}
.blog-detail > div {
  margin: 5px 0;
}
.blog-detail .blog-image {
  padding-bottom: 30px;
  margin-bottom: 0;
}
.blog-detail .blog-title {
  color: #000;
font-weight: 600;
margin-bottom: 0px;
text-transform: uppercase;
font-size: 20px;
}
.blog-detail .blog-description {
  font-size: 14px;
  text-align: justify;
  margin-bottom: 80px;
}
.blog-detail .social-share {
  display: inline-block;
  float: left;
}
.social-share .itemTwitterButton,
.social-share .itemFacebookButton,
.social-share .itemGooglePlusOneButton{
	margin-bottm: 10px;
}
.blog-detail .extra-blogs {
  display: inline-block;
  width: 100%;
}
.blog-detail .extra-blogs h4{
	margin-bottom:15px;
	font-weight: 600;
	color: #000;
}
.blog-detail .extra-blogs ul{
	padding-left: 25px;
}
.blog-detail .extra-blogs ul li{
	list-style: disc;
	padding: 3px 0;
}
.blog-detail .blog-tags {
  display: inline-block;
  float: right;
}
.blog-detail .blog-tags > span {
  font-weight: bold;
  font-size: 14px;
  margin-right: 15px;
}
.blog-detail .blog-comment-block #blog-localengine .comment-item {
  padding: 30px;
  margin-bottom: 30px;
  border: 1px solid #ececec;
}
.blog-detail .blog-comment-block #blog-localengine .comment-item .comment-wrap {
  margin-left: 80px;
}
.blog-detail .blog-comment-block #blog-localengine .comment-item .comment-wrap .comment-meta {
  color: #222;
  font-weight: bold;
  margin-bottom: 10px;
}
.blog-detail .blog-comment-block #blog-localengine .comment-item .comment-wrap .comment-meta > span {
  margin-right: 15px;
}
.blog-detail .blog-comment-block #blog-localengine .comment-item .comment-wrap .comment-meta > span span {
  color: #888;
  margin-left: 10px;
  font-weight: normal;
}
.blog-detail .blog-comment-block #blog-localengine .form-group {
  margin-bottom: 20px;
}
.blog-detail .blog-comment-block .btn-send {
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  min-width: 110px;
  text-align: center;
  color: #fff;
  background-color: #eee;
  font-weight: 600;
  float: right;
  border-radius: 3px;
}
.blog-detail .blog-comment-block .btn-send i {
  margin-right: 10px;
  font-weight: 800;
}
.blog-detail .blog-comment-block .btn-send:hover {
  background-color: #222;
}

.blog-comment-block h3{
	margin-bottom:15px;
	font-weight: 600;
	color: #000;
}
.blog-comment-block #comment-form{ margin-top: 30px; }
.comment-capcha-image{ margin-bottom: 10px; }
h1.blog-heading{
	font-size: 22px;
    color: #414141;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.ps-carousel { display: none; }
.Recent-title,
#blog-category{ margin-bottom: 30px; }
.subcategories-title{ margin-bottom: 20px; }
.category-title{ padding: 15px 0 5px; text-transform: capitalize; font-weight: normal; }
.secondary-blog .flexRow{ 
	clear: both;
    float: left;
}
#blog-listing .pagination li{ 
	background: #FFFFFF;
    display: inline-block;
    float: left;
    margin: 0 0 0 4px;
    padding: 0px;
}

#blog-listing .pagination li.previous > span,
#blog-listing .pagination li.next > span{ width: auto; }

#blog-listing .pagination .previous,
#blog-listing .pagination .next {
	font-size: 14px;
	width: auto;
}
#blog-listing #pagination{
	float: right;
	width: auto;
	margin: 0px;
}
#blog-listing .pagination li a,
#blog-listing .pagination li > span{
	height: 35px;
    margin: 0;
    padding: 2px 12px;
	line-height: 28px;
    width: 35px;
    color: #414141;
    background: none;
    border: none;
    display: block;
    font-weight: 600;
    border: 1px solid #ddd;
}
#blog-listing .pagination li.active > span,
#blog-listing .pagination li.current > span,
#blog-listing .pagination li a:hover{
	color: #FFFFFF;
    border-color: #0088cc ;
    background-color: #0088cc ;
}
.leading-blog .blog-meta > span span {
    display: inline-block;
}
.secondary-blog,.leading-blog{
    margin: 0 -15px;
}
#blog-listing .product-count{
    float: left;
    margin-top: 20px;
}

.tmblog-latest .homeblog-inner .blog-item .blog-meta, .tmblog-latest .homeblog-inner .secondary-blog .blog-item .blog-meta {
    color: #788954;
	font-size: 14px;
	letter-spacing: 0.06px;
	text-align: left;
	font-weight: normal;
	display: block;
}

#module-psblog-blog > iframe {
    left: 0 !important;
}
.blog-image .post_hover {
    bottom: auto;
    left: 0;
    margin: 0 auto;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 42%;
    z-index: 1;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}
.lastest_block li.blog-post:hover .blog-image .post_hover {
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -kkhtml-opacity: 1;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}
.blog-image .zoom {
    color: #fff;
    display: inline-block;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    z-index: 10;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    vertical-align: top;
	background:#788954;
}
.blog-image .zoom:hover, .blog-image .readmore_link:hover {background: #000;
}
.blog-image .readmore_link {
    color: #fff;
    display: inline-block;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    z-index: 10;
    border-radius: 50%;
	padding-left: 2px;
	background:#788954;
}
.lastest_block .fa {
   width: 48px;
	height: 45px;
	line-height: 46px;
}
@media (max-width: 543px) {
	.leading-blog .blog-item .blog-content-wrap {
		padding: 15px;
	}
	.blog-comment-block h3{font-size:17px;}
}
@media (max-width: 767px) {
	.blog-item .blog-content-wrap .title{min-height:auto;}
	.blog-image .post_hover{opacity:1;}
	
}